@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    /* Layout */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Aesthetics */
    color: #cad3f5;
    font-family: "JetBrains Mono", "Courier New", monospace;
}

body {
    background-color: #181825;
}

.taskbar-container {
    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Size */
    width: 100%;
    height: 4vh;

    /* Aesthetics */
    background-color: #24273a;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.nav-links {
    /* Layout */
    display: flex;
    gap: 20px;

    /* Size */
    margin-left: 1vw;
}

.nav-item {
    /* Size */
    font-size: 2vh;
    font-weight: 500;

    /* Aesthetics */
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-item:hover,
.nav-item.active {
    color: #5e81ac;
}

.datetime-container {
    /* Layout */
    display: flex;
    gap: 20px;

    /* Size */
    margin-right: 1vw;

    /* Aesthetics */
    font-size: 2vh;
    font-weight: 500;
    letter-spacing: 1px;
}
