.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 50px;
    flex: 1;
}

.current {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    padding: 30px;
}

.current h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #a6e3a1;
}

.work-time {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.current:hover,
.old:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.current-layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    transition: transform 0.2s ease;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    background-color: transparent;
    transition: transform 0.2s ease;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
}

.logo:hover,
.tech-box:hover {
    transform: scale(1.1);
}

.info {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.6;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tech-box {
    width: 45px;
    height: 45px;
    background-color: transparent;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.tech-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.old-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 70%;
    justify-content: center;
}

.old {
    padding: 20px;
    flex-direction: column;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    height: 100%;
}

.old h3 {
    color: #f38ba8;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.old-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1;
}

@media (max-width: 900px) {
    .current {
        max-width: 100%;
        align-items: center;
    }

    .current-layout {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        margin-bottom: 15px;
    }

    .icons {
        justify-content: center;
    }

    .old-container {
        max-width: 100%;
    }
}
