.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 50px;
    flex: 1;
}

.current-project {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    padding: 30px;
}

.current-project h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #a6e3a1;
}

.project-layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    transition: transform 0.2s ease;
}

.project-logo {
    max-width: 100px;
    max-height: 100px;
    background-color: transparent;
    transition: transform 0.2s ease;
}

.project-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
}

.project-info {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.6;
}

.project-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tech-box {
    width: 45px;
    height: 45px;
    background-color: transparent;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.tech-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tech-box:hover,
.project-logo:hover {
    transform: scale(1.1);
}

.old-projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 70%;
    justify-content: center;
}

.old-project {
    padding: 20px;
    flex-direction: column;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    height: 100%;
}

.current-project:hover,
.old-project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.old-project h3 {
    color: #f38ba8;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.project-layout-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1;
}
